.PixelWrapperChange {
    margin: 1em 1em 1em 1em;
    width: min(calc(100vh - 2em), calc(100vw * 0.5 - 2em));
    display: grid;
    grid-template-columns: repeat(100, 1fr);
}

@media only screen and (max-width:680px) {
    .PixelWrapperChange {
        width: calc(100vw);
    }
}

.PixelWrapperChange * {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.Pixel {
    padding-top: 100%;
}

.Black {
    background-color: black;
}

.Green {
    background-color: green;
}

.Blue {
    background-color: blue;
}

.White {
    background-color: white;
}

.Red {
    background-color: red;
}

.Yellow {
    background-color: yellow;
}

#refreshRate {
    position: fixed;
    bottom: 0;
    right: 0.5em;
    bottom: 0.5em;
    width: 10em;
}


/*
.Pixel:hover {
    background-color: saddlebrown;
}*/